<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
    <link href="/css/bootstrap-css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/cover.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">MineStats</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/tutorial">What File?</a>
                    <a class="nav-link active" href="#">Stats</a>
                </nav>
            </div>
        </header>
        <br>
        <h1 style="text-align: start;">
            <%= username %>
        </h1>
        <h3 style="text-align: start;">Quick Jump:</h3>
        <% for (category in stats){ %> <a style="text-align: start;" href="#<%= stats[category].id %>"><%= stats[category].name %></a> <% } %> 
        
        <br><br>
        <main class="mx-auto">
            <% for (category in stats){ %>
                <h4 id="<%= stats[category].id %>" style="display: inline;">
                    <%= stats[category].name %>
                </h4>
                <p style="display: inline;">
                    <%= stats[category].id %>
                </p><br>
                <div class="statcat">
                    <% for (stat in stats[category].stats) {%>
                        <div>
                            <p>
                                <%= capitalize(stat) %>
                            </p>
                            <p>
                                <%= stats[category].stats[stat] %>
                            </p>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </main>

        <footer class="mt-auto text-white-50">
        </footer>
    </div>
</body>